@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'SF';
  src: url(/fonts/SFPRODISPLAYMEDIUM.OTF);
}

@font-face {
  font-family: 'SF-Reg';
  src: url(/fonts/SFPRODISPLAYREGULAR.OTF);
}



.css-5wchs2-MuiDateCalendar-root {
  max-height: 100% !important;
  margin-left: 0.5vw !important;
  max-width: 100% !important;
}

.css-1nxbkmn-MuiPickersCalendarHeader-root {
  max-height: 20px !important;
  min-height: 0 !important;
}

.css-1pv2de5-MuiDayCalendar-weekContainer {
  margin: 0px 0 !important;
}

.css-1chuxo2-MuiPickersCalendarHeader-label {
  margin-right: 0px !important;
  margin-left: 10px !important;
}

/* Customize the scrollbar width */
::-webkit-scrollbar {

  width: 1px;
  height: 8px;
  color: red !important;
  /* For horizontal scroll */
}

/* Track (background of scrollbar) */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.bg-custom-gradient {
  background: linear-gradient(223.71deg, #c8deef 21.94%, #c8d7f3 77.39%);
  backdrop-filter: blur(1400px);
}
.dark .bg-custom-gradient {
  background: linear-gradient(223.71deg, rgba(50, 73, 90, 0.3) 21.94%, rgba(34, 57, 104, 0.3) 77.39%);

  backdrop-filter: blur(1400px);
}


@theme {
  /* --color-primary: linear-gradient(223.71deg, #B2DFFF 21.94%, #B2CCFF 77.39%); */
  --color-action-btn: #13181E;
  --color-card: #FFFFFFCC;


}

.sf-bold {
  font-family: "SF";
}

* {
  font-family: "SF-Reg";
}


.bold-text {
  font-size: 1.1em; /* Makes text 10% larger than normal */
  font-weight: bold;
}

/* Custom bullet points */
.custom-bullet {
  list-style-type: none; /* Remove default bullets */
  padding-left: 20px; /* Indent bullets */
}

.custom-bullet li {
  position: relative;
  margin-bottom: 8px; /* Spacing between bullet points */
}

.custom-bullet li::before {
  content: "•"; /* Custom bullet symbol */
  color: #333; /* Bullet color */
  font-size: 1.2em; /* Bullet size */
  position: absolute;
  left: -15px; /* Adjust bullet position */
}

/* Make bold text slightly larger */
.bold-text {
  font-size: 1.1em; /* 10% larger than normal text */
  font-weight: bold;
}

